*{
    box-sizing: border-box;
}

body{
    font-family: "Zilla Slab", serif;
    font-weight: 300;
    font-style: normal;
    background-color: #000000;
    
}

/* #stVertEl{
    transform: translateY(50%);
}
#ndVertEl{
    transform: translateY(50%);
} */


#animate{
    width: calc(371 * 0.05vw);
    height: calc(245 * 0.05vw);
    stroke-dasharray: 10;
}

h1, h2{
    color: #69a758;
    text-align: center;
    font-size: 3vw;
}
h3{
    font-size:1.2vw;
    color:#2d593c;
}
h4{
    color:#2d593c;
}
p{
    color: white;
    text-align: center;
}

#clock{
    display: none;
    border-radius: 2%;
    border-style: solid;
    border-color: white;
    width: 30vw;
    height: 15vw;
    position:absolute;
    background-color: #141414;
}

#main{
    display:flex;
    width: 100vw;
    height:100vh;
    justify-content: center;
    align-items: center;
}

nav{
    background-color: #03DAC6;
    width: 0vw;
    padding:1.8vw, 0.85vh;
}

#scoreNav{
    width:0vw;
    background-color: transparent;
    text-align: center;
}
.wrapper {
    flex-direction: column;
    overflow-y: auto;
  }
  .scrollable-child {
    overflow-y: auto;
  }
.scoreDiv{
    background-color: #a7ffeb;
    display: flex;
    display: inline-block;
    margin-bottom: 2vw;
}

.sidebar-top{
    display: flex;
    align-items: center;
    text-align: center;
}
.timer, .timerOn{
    display:flex;
    align-items: center;
    text-align: center;
}

#shapes{
    display:block;
    align-items: center;
    text-align: center;
}

.timerOn{
    padding-left: 1vw;
}

#t1{
    display: none;
}
.timer input[type="checkbox"] {
    transform: translateY(1px); 
}
input[type="number"] {
    background-color: transparent;
    border-color: transparent;
    width : 7.5vw;
    text-align: center;
    color: white;
    font-size: 5vw;
  }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.time{
    width: 1.5vw;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* .bx-chevron-up:hover, .bx-chevron-down:hover{
    background-color: hsla(0, 0%, 80%, 0.5);
} */

.bx-brain{
    font-size: 6vw;
}

main{
    flex-grow:1;
    display:inline-block;
    justify-content: center;
    align-items: center;
}
main > div {
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    height:100vh;
}

.top-right {
    position: absolute;
    top: 0; 
    right: 0; 
    margin: 0; 
    padding: 0.7w; 
    color:aquamarine;
    font-size:2vw;
}

.top-right:click{
    padding:3vw;
}

#timer, #countdown{
    color:#FFF;
}
span.icons{
    font-size: 3vw;
}

#statement{
    font-size: 1.5vw;
}



.center-container{
    display: flex;
    justify-content: center;
    align-items: center;
}   

button{
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    flex-shrink: 0;
    /* font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif; */
    font-size: 1.25rem;
    font-weight: 500;
    height: 3rem;
    width:5rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  button:hover {
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: .1s;
  }
  
#hour, #minutes, #seconds{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
}



.bottom-left {
    position: fixed;
    bottom: 0;
    left: 0;
  }

#button1{
    position: fixed;
    top: 550px;
    right: 500px;
}
#button2{
    position: fixed;
    top: 550px;
    right: 100px;
}

.center-content {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
   }
.left-content {
    display: flex;
    justify-content: left; /* align horizontal */
    align-items: center; /* align vertical */
   }
.right-content {
    display: flex;
    justify-content: right; /* align horizontal */
    align-items: center; /* align vertical */
   }


.row::after{
   content:"";
    clear:both;
    display:table;
}

[class*="col-"]{
    float: left;
    padding: 15px;
}


.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

#introPage{
    display: flex;
    width: 100vw;
    height: 100vh;
    position: fixed; /* or 'absolute' */
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}
#bt{
    text-shadow: #FC0 1px 0 10px;
}
#center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hidden{
    display:none;
}

.bx-chevron-down{
    color:#808080;
}
.bx-chevron-up{
    color:#808080;
}
#boxIcons{
    color:white;
}

.bxs-shapes{
    font-size: 3.5vw;
    position:absolute;
    left:0;
    bottom:0;
    padding-bottom: 0.3vw;
}

.bx-spreadsheet{
    font-size: 3.5vw;
    position: absolute;
    left:5vw;
    top:5.4vw;
}

.bx-time-five{
    font-size: 3.5vw;
    position:absolute;
    right:0;
    top:0;
    padding-right:0.3vw;
}

#quarterCircle{
    position:absolute;
    top:-2px;
    left:-2px;
    width:12vw;
    height:12vw;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-bottom-right-radius: 100%;
}
#quarterCircle::before{
    content: "";
    position: absolute;
    top:-2px;
    left: -2px;
    width:8vw;
    height:8vw;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-bottom-right-radius: 100%;
}